<!DOCTYPE html>
<html>
<head>
    <title>:DEGUSTA BOX - Time tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/build.css" crossorigin="anonymous">
</head>
    <body>
        <nav class="navbar navbar-light bg-degustabox">
            <a class="navbar-brand" href="#">
                <img src="img/degustabox.svg" alt="">
            </a>
        </nav>
        <div class="container">
            <!-- Content -->
            <div class="row">
                <div class="col-sm col-md-6 center-button">
                    <button id="timer" class="selected-tab">TIMER</button>
                </div>
                <div class="col-sm col-md-6 center-button">
                    <button id="list" class="unselected-tab">LIST</button>
                </div>
            </div>

            <div class="tabs" class="row">
                <div id="timer-tab" class="col-sm-12 line-separator">
                    <div class="row">
                        <div class="form-group">
                            <label for="taskName">Task name</label>
                            <input type="name" name="task" class="form-control" id="taskName" maxlength="40" placeholder="">
                        </div>
                    </div>
                    <div class="row timer">
                        <div class="col-sm-4 text-center">
                            <span id="hours">0</span> hours
                        </div>
                        <div class="col-sm-4 text-center">
                            <span id="minutes">0</span> minutes
                        </div>
                        <div class="col-sm-4 text-center">
                            <span id="seconds">0</span> seconds
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm col-md-12 text-center">
                            <button id="start">START</button>
                            <button id="stop">STOP</button>
                        </div>
                    </div>
                </div>
                <div id="list-tab" class="col-sm-12 list">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Duration</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="list-body">
                            <tr id="1">
                                <td>Home page implementation</td>
                                <td>00:32</td>
                                <td><button type="button" data-uuid="1"  class="btn btn-danger">Delete</button></td>
                            </tr>
                            <tr id="2">
                                <td>New promo</td>
                                <td>00:10</td>
                                <td><button type="button" data-uuid="2" class="btn btn-danger">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Endcontent-->
        </div>
    </body>
<script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="/js/build.js" crossorigin="anonymous"></script>
</html>